@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: url(/assets/wall.png);
  color: #333333;
}

.icon {
  color: #316077;
}

.nav-icon {
  display: flex;
  align-self: center;
  font-size: 2rem;
  align-items: center;
  color: #6ba5c2;
}

.portret {
  border-radius: 1rem;
  object-fit: cover;
  width: 100%;
  height: 330px;
  max-width: 600px;
}

h1 {
  margin-bottom: 1rem;
}

h2 {
  text-align: center;
  font-weight: 700;
}

h3 {
  font-family: 'Courier New', Courier, monospace;
  color: #6ba5c2;
  margin-bottom: 2rem;
  font-weight: bold;
}

aside {
  width: 50%;
  padding-right: 1rem;
}

article {
  background-color:#eee3ce;
  border-radius: 1rem;
  padding: 1rem;
}

p {
  font-size: 1.2rem;
  line-height: 2rem;
  margin-bottom: 3rem;
}

p:last-of-type {
  margin-bottom: 0;
}

.navbar-toggler {
  margin: 0.4em 0 0.4em;
}

#mainNavbar .nav-link {
  text-transform: uppercase;
  font-weight: bold;
  color: #6ba5c2;
  font-size: 0.8rem;
}

#mainNavbar {
  background-color: #333333;
  padding: 0 10% 0;
  margin: 0 auto 8em;
}

.container-fluid {
  padding: 0 10% 0;
}

.skills {
  font-family: 'Courier New', Courier, monospace;
  padding-left: 2rem;
  font-size: 1.2rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content:end;
  line-height: 2.2rem;
}

@media (max-width: 991px) {
  aside {
    text-align: center;
    width: 100%;
    padding-right: 0;
    margin-bottom: 2rem;
  }

  .aside-container {
    flex-direction: column;
  }

  .skills {
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px 30px;
  }

  p {
    text-align: center;
  }

}